  /* STYLING FOR THE WHOLE WEBSITE */
  body {
    /* Gets rid of white line on left of website */
    margin: 0;
    padding: 0;
  }


/* Amatic SC Font */
@font-face {
  font-family: Amatic_SC;
  src: url("AmaticSC-Regular.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
  @import url('https://db.onlinewebfonts.com/c/185dd361b54fa08e2cfed3f694ccdc4e?family=Horsemen+(Demo+Version)');

  @import url('http://fonts.cdnfonts.com/css/black-bruno');

  footer {
    height: auto;
    padding: 100px 10px;
    background-color: #ffffff;
    font-family: 'Amatic_SC', cusrive;
    background-size: cover;
    margin-top: -20px;
    color: black;
    font-size: x-large;
    text-align: center;
    align-content: center;
}

.contact-icons {

  padding: 10px;
  align-items: center;
}

.contact-icons img{
  align-content: center;
  width: 50px;
  height: 50px;
}
  * {
  box-sizing: border-box;
  }

/* STYLING FOR PARALLAX IMAGE IN HEADER*/
.parallax {
  /* Image in Parallax */
  background-image: url("images/headers/kater.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------------------
---TEXT OVERLAY FOR PARALLAX IMAGE---
-------------------------------------- */

/* Image and text go inside this div */
.overlay-content {
    text-align: center;
    position: relative;
}

/* Use this div to lighten an image and put dark text overlayed */
.overlay-lighten {
    opacity: 0.3;
  }
  
/* This div darkens an image and overlays light text */
    .overlay-darken {
    filter: brightness(50%);
  }

/* Use this class in a div, h2, or p to center the overlayed text */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* -------------------------------------
-------- NAVIGATION BAR STYLING -------
-------------------------------------- */

.topnav {
  overflow: hidden;
  /*background-color: #333;*/
}

/*Styling for Nav bar*/
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 10px 7px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Amatic_SC', cursive; font-weight:400; font-style:normal;
}

/*NAV HOVER EFFECT: Bold navigation button when mouse is over*/
.topnav a:hover {
  color: black;
  font-weight: bold;
}

/*SET TO HIDE THE HOME NAV WHEN ON HOME PAGE
<li id='home-button'>
      <a href='/index.htm'>Home</a>
   </li>
   ??? */

/*NAV ACTIVE EFFECT: Underline navigation button when on that page*/
.topnav a.active {
  text-decoration: underline;
}

/*NAV DISPLAY RIGHT: Display nav bar on right of page*/
.topnav-right {
  float: right;
}



.parallax-box {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 0px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* -------------------------------------
-------- ABOUT ME STYLING --------------
-------------------------------------- */


.aboutme {
  margin: 0;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  background-size: cover;
  text-align: left;
  font-size: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

/* -------------------------------------
-------- DEV SECTION STYLING ------------
-------------------------------------- */

.flex-container {
  display: flex;
  flex-direction: row;

}

.aboutme-section {
  width: 33.33%;
}

.about-me-header {
  font-family: 'Amatic_SC', cursive; font-weight:400;
  font-size: 50px;
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 20px;
}

.row {
  text-align: center;
  margin-left: 35px;
  display: center;
  margin-right: 35px;
  font-family: 'Amatic_SC', cursive; font-weight:400;
  border-radius: 25px; 
  margin-top: -100px;
  margin-bottom: -100px;

} 

.row-body-text {
  font-size: 20px;
  font-family: 'Amatic_SC', cursive; font-weight:400;
  text-decoration: solid;
  padding: 0px 25px;
}

.black-background {

  padding: 150px;
  background-color: black; 
}

.column {
  float: left;
  display: center;
  width: 33.33%;
  background-color: white;
  padding: 40px 40px;
  border: 8px solid black; 
  border-radius: 25px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------
-------- CODING PROJECTS STYLING---------
-------------------------------------- */

.portfolio {
  text-align: center;
  height: auto;
  padding: 30px 30px;
  color: white;
  background-color: black; 
  position: relative;
  font-size: x-large;
  font-family: 'Amatic_SC', cursive; font-weight:400; font-style: regular;
  background-size: cover;
}

/* Container for the Merch Caregories & Slideshow */
.merch-items {
border-radius: 25px;    /* Rounded Border */
font-family: 'Horsemen (Demo Version)', regular;
font-size: 20px;  
position: relative;
flex: 25%;                 /* 1/4 of the screen  */
background: #ffffff; 
width: 25%;
color: black;
text-align: center;
vertical-align: middle;
margin: 10px;
margin-bottom: 40px;
padding: 5px 30px;
height: 250px;
}

.killa-section {
  display: flex;
  flex-wrap: wrap;
}


.portfolio-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-stack {

   vertical-align: top;
   font-size: 2em;

}


/* Buttons for About Me, Activities, Buttons*/
.btn-group button {
  background-color: black; /* pink background */
  border: 8px solid white; /* Green border */
  color: white; /* White text */
  font-family: 'Amatic_SC', cursive; font-weight:700;
  text-decoration: solid;
  margin-top:10px;
  left: -150px;
  transition: 0.3s;
  padding-top: 40px;
  padding-bottom: -20px;
  margin-left: -80px;
  margin-right: 50px;
  margin-bottom: -10px;
  transition: transform .3s;
  text-decoration: solid;
  width: 400px;
  text-align: right;
  font-size: 50px;
  cursor: pointer; /* Pointer/hand icon */
  display: inline-block; /* Make the buttons appear below each other */

}

.dev-btn-group {
  background-color: #ffffff; /* pink background */
  border: 8px solid black; /* Green border */
  font-family: 'Amatic_SC', cursive; font-weight:700;
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: solid;
  text-align: center;
}


/* Add a background color on hover */
.btn-group button:hover {
  transform: translateX(40px);
}

.gd-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gd-column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
    padding-bottom: 30px;
  }

  .gd-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gd-column {
      flex: 50%;
      max-width: 50%;
    }

    .portfolio-column {
      flex: 50%;
      max-width: 50%;
    }

    .merch-items {
      flex: 50%;
      
    }



  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gd-column {
      flex: 100%;
      max-width: 100%;
  }

  .portfolio-column{
    flex: 100%;
    max-width: 100%;
  }

  .killa-section {
    flex: 100%;

  }


}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  /* Flex for Game Dev and Coding Project Containers */
  .graphic-container {

    flex: 100%;
 }


/* Used for all items in the aboutme class */
  .aboutme-section {

    flex: 100%;
  }

/* Used for column of ********** */

  .column {
    width: 100%;
  }

  .portfolio-column{
    flex-direction: column;
    width: 100%;
}

.killa-section {

  flex: 100%;
}


}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.test-row > .test-column {
    padding: 0 8px;
  }
  
  .test-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .test-column {
    float: left;
    width: 25%;
  }
  
  
  

/* -------------------------------------
-------- USED FOR IMAGE FADE ------------
-------------------------------------- */

  .graphic-container {
    position: relative;
    width: 50%;
  }

  .collab-container {
    position: relative;
    width: 100%;
    box-align: center;
  }

  .portfolio-container {
    
    position: relative;
    width: 100%;
  }
  
  .graphic-image {
    border-radius: 25px;
    padding: 10px 10px;
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-size: cover;
  }
  
  .graphic-overlay {
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }
  
  .graphic-container:hover .graphic-overlay {
    opacity: 90%;
  }
  
  .graphic-text {
    display: block;
    color: white;
    font-size: 30px;
    position: relative;   /* Fits text to graphic container as screen gets smaller */
    top: 50%;
    left: 50%;
    font-size: 2.4vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .contact-logo {

    color: black;
  }

  .portfolio-container-test {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    flex-flow: wrap;
    padding: 0 4px;
  }


/* -------------------------------------
-------- USED FOR SLIDESHOW HOPEFULLY ------------
-------------------------------------- */

  /*USING FOR SLIDESHOW HOPEFULLY*/
  * {box-sizing: border-box}
  .Fans, .Pashminas, .Pins, .Parasols, .Bucket-Hats {
    display: none;
    height: 180px;
  
  }

  .slideshow-container img {
    width: 100%;
    vertical-align: middle;
    max-height: 100%;
    object-fit: contain;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 5px 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  display: center;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.test-row {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  background-color: white; 
  border-radius: 25px; 
  /*margin-top: -70px;*/
} 

.test-column {
  float: left;
  display:center;
  width: 25;
  padding: 40px;
}

.killa-footer {
  background-size: cover;
  height: auto;
  font-family: 'Black Bruno', sans-serif;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}



/* Style the buttons */
.portfolio-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  font-family: 'Amatic_SC', cursive; font-weight:400; font-style: normal;
  font-size: 40px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.portfolio-btn:hover {
  color: white;
  font-weight: bold;
}

.portfolio-btn.active {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}